/*Responsividade as telas diversas*/
  @media all and (max-width:1200px){
      figure{
        display:block;
      }
    }

  @media all and (min-width:767px){
      figure{
        display:none;
      }
    }

  @media all and (max-width:990px){

        #topo{
          display:none;
        }
        section, div#carouselExampleIndicators, div#carouselExampleIndicators img{
          width:100% !important;
          min-height:95px !important;
          /*background-color: red;*/
        }
        nav span#icones {
          display: none;
        }

/* tentando controlar o botão quando estiver no mobile */
        .direita {
        display:none!important;
        width:100%;
        }

        form#pesquisa {
          width:50%;
        }

         footer#rodape div#fundoRodape {
          position:absolute;
           top:-12% !important;
          left:0px;
          height:100px !important;
         }
       }

  @media all and (min-width:767px ){
      #topo{
        display:block;
      }
    }


/*botao de pesquisa*/
  /*@media all and (min-width:990px){
    .direita {
     margin-right:15px !important;
    }
  }*/

  .direita {
    margin-right: 15% !important;
  display: inline-table !important;
  }

form button:hover {
  text-shadow:1px 1px 20px black;
  font-size:12pt;
  cursor:pointer;

}


/*Estilizando individuais */
  * {
    box-sizing: border-box !important;
    margin:0px !important;
    /*padding:0px !important;*/
  }

  /*principal container*/
  main {
    width:100% !important;
    min-height:900px;
    position:relative !important;
  }

/*controle do menu e topo*/
  nav {
    width:100% !important;
    box-shadow: 1px 2px 20px black;
    font-family: "FontMenu", Arial, sans-serif;
    font-variant: small-caps;
    font-size: 14pt !important;
    z-index:10;
    text-align: center;
    /*position: fixed !important;
    top:0px !important;
    left:0px !important;*/
    border-radius:0px 0px 10px 10px;
    position:relative;
  }

  nav a {
    padding-left:15px !important;
    padding-right:15px !important;
  }


/*controle de fonte*/
@font-face {
	font-family:"FontMenu";
	src:url("../fontstxt/Exo_2/Exo2-Bold.ttf");
	}

@font-face {
	font-family:"FontProduto";
	src:url("../fontstxt/Exo_2/Exo2-Bold.ttf");
	}

@font-face {
  font-family:"TxtLight";
  src:url("../fontstxt/Exo_2/Exo2-Light.ttf");
  }


  /*efeitos no menu*/
  nav a:hover {
    background-color:rgba(0,0,100,0.1);
    border-radius: 10px;
    color:white !important;
    text-shadow:1px 1px 10px black;
    text-decoration: underline !important;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
  }

  /*icones canto*/
  nav span#icones {
    position: absolute;
    top:10px;
    right:5px;
  }

  nav span#icones a {
    padding-left:0px !important;
    padding-right:0px !important;
  }

  nav span#icones i {
    margin:2px;
  }


/*Controlando o banner de propaganda dos produtos*/
  section{
  	box-sizing:border-box !important;
  	margin:20px auto !important;
    width:100% !important;
  	height:100% !important;
    position:relative;
  }



/*controlando conteudo pg-principal*/
  article {
    margin:10px auto !important;
    padding:10px;
    width:100%;
    min-height:500px;
    box-shadow: 1px 10px 20px rgba(0, 28, 31, 0.33);
    position: relative;
     border-radius:0px 0px 10px 10px;
  }

  /* Controlando conteudo dos produtos INDEX*/
  div.thumbnail {
    margin:10px auto !important;
    border-left: 1px solid rgba(0, 28, 31, 0.25);
    border-bottom: 1px solid rgba(0, 28, 31, 0.25);
    padding: 5px !important;
    box-shadow: 1px 10px 20px rgba(0, 28, 31, 0.3);
    text-align: center;
    border-radius:0px 0px 10px 10px;
  }

/*controlando as imagens dos produtos*/
  div.thumbnail img{
    position: relative !important;
    width:100%;
    height:100%;
    display:block;
  }
/*estilizando o titulo dos produtos*/
  div.thumbnail h4{
    /* font-style: italic; */
    text-shadow:1px 5px 20px rgba(41, 39, 37, 0.79)!important;
    font-family: 'FontProduto',sans-serif;
  }

  div.thumbnail h5{
    font-style: italic;
    color: black;
  }

  div.thumbnail p{
    margin:5px !important;
    font-family:'TxtLight',sans-serif;
    font-size:12pt !important;
  }

/* ############################### Rodapé diversos e os icones ##########################*/
  footer#rodape {
    width:100% !important;
    min-height:200px;
    margin-top:225px !important;
    background-color:#0B6C99 !important;
    border-radius:10px 10px 0px 0px;
    padding:5px;
    position: relative;
    color: white;
  }

  footer#rodape .imgRodape{
    width:40px;
    height:40px;
  }

  footer#rodape a,h5{
    color: rgba(255, 255, 255, 0.5);
  }

   footer#rodape a:hover,h5:hover{
    color: rgba(255, 255, 255, 1);
  }


  footer#rodape ul {
    width:100% !important;
    margin-top: 20px !important;
  }

footer#rodape ul li {
    width:100% !important;
    margin-top:5px !important;
    text-align:left;
    list-style: none;
  }

 footer#rodape div#fundoRodape {
    width:100%;
    height:200px;
    position:absolute;
    top: -200px;
    left:0px;
    background: url("../img/rodape/fundo_rodape.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    z-index:999;
  }

/* subiAotopo */
  footer span a {
    position:fixed;
    right:30px;
    bottom:20px;
    /*padding:3px;*/
    width:40px;
    height:40px;
    border-radius:40px;
    background-color:rgba(100, 163, 214, 0.53);
    opacity:0.8;
    -webkit-transition: all 0.4s ease-in;
    -webkit-transition: all .40s linear;

  }

  footer span a:hover {
    width:40px;
    height:40px;
    color:white;
    background-color: green;
    border-radius:40px;
    right:30px;
    bottom:25px;
    opacity:1;
    -webkit-transition: all .40s linear;
  }


/* estilizando o rodapé */
  footer, p{
    margin:20px;
    font-family: 'FontProduto', serif;
    font-size: 10pt !important;
    text-align: center;
  }

/*trabalhando com os icones*/
  .socialIcons li {
    display:inline;
    list-style-type:none;
  }

  .socialIcons li img {
    width:40px !important;
    vertical-align: middle !important;
  }


/*personalizando as paginas*/
  article section#topoAcessorio {
    width:100%;
    height:300px;
    background-color: red;
  }

  article section#topoAcessorio img{
    width:10%;
    height:300px;
  }
